/* header start  */
/* nav bar start  */
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #f2f9ff;
}
header{
    background-image: url("../Assets/Hero-bg.png");

    height: 100vh;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    margin: 0px 130px;
    height:110px;
    align-items: center;

}
.nav-logo{
    color: #4E47FF;
    font-weight: 800;
    font-size: 40px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
   

.nav-button{
    background-color: #4E47FF;
    color: #ffffff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    width: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 12px;
    height: 40px;

}

.button{
    background-color: #4E47FF;
    color: #ffffff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    width: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 12px;
    height: 40px;
    border: none;
    
}
.nav-button:hover{
    background-color: #120f7f;
    color: rgb(182, 176, 176);
}
button:hover{
    background-color: #120f7f;
    color: rgb(182, 176, 176);
}
/* nav bar end  */
/* header banner start  */
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}
.banner-heading{
    font-size: 50px;
    align-content: center;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}
span{
    margin-left: 100px;
}

.banner-button{
    width: 160px;
    margin-top: 40px;

}
/* header banner end  */
/* header end  */

/* main start  */
/* action section start   */
.action{
    display: flex;
    margin: 100px;
    justify-content: space-between;
}
.action-content{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.action-heading{
    font-weight: bold;
    font-size: 42px;
    

  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.action-discription{
    font-size: 24px;
    color:rgba(103, 98, 98, 0.68);
    margin: 20px 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.action-button{
    width: 157px;
    font-family: 'Lucida Sans';
}   
.action-button:hover{
    background-color: #120f7f;
    color: rgb(182, 176, 176);
}
.action-img{
    border-radius: 48px;
    height: 328px;
    width: 400px;
}
/* action section end  */
/* users section start  */
.users{
    background-color: #4d47ff2e;
    margin: 80px;
    border-radius: 24px;
    height: 250px;

}
.user-heading{
    text-align: center;
    padding: 27px;
    font-size: 38px;
    
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


.user-percent{
    display: flex;
    justify-content: center;
    gap: 40px;
    position: relative;

}
 .view{
    font-weight: bold;
    font-size: 80px;
    color: #4d47ff60;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.user-pera{
    color: rgb(101, 101, 105);
    position: relative;
    left: 27px;
    bottom: 10px;
}
/* user section end  */
/* rating section start  */

.rating-parent{
    display: flex;
    gap: 24px;
    margin: 100px;
}
.rating-heading{
    text-align: center;
    font-weight: bold;
    font-size: 42;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.name{
    margin: 6px 6px 6px 0px;
}
.reviewer-name{
    display: inline-block;
}

 small{
    color: #696666;
 }

.ratings-people{
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
}
.rating-img{
    border-radius: 39px;
    position: relative;
    top: 8px;
}

/* rating section end  */
/* form section start  */

.form{
    display: flex;
    margin: 100px;
    justify-content: space-between;

}
.form-heading{
    font-weight: bold;
    font-size: 55px;
    width: 50%;
    display: flex;
    align-items: center;

  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight:weight;
  font-style: normal;


}
input{
    height: 70px;
    width: 450px;
    border-radius: 10px;
    border-color: rgba(240, 237, 237, 0.299);
    margin: 8px 0px 18px 0px;
    
}
input::placeholder{
    font-size: 20;
}
label{
    font-weight: bold;
    font-size: 19;
}
textarea{
    color: #918989bc;
    border-color: #6966664a;
    padding: 12px;
    border-radius: 12px;
}
.form-button{
    margin-top: 9px;
    width: 450px;
    height: 40px;
    color: white;
}
/* form section end  */

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #ffffff;
}
.footer-heading{
        font-weight: bolder;
        font-size: 100px;
        color: #4d47ff9b;  
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


.footer ul{
    display: flex;
}
.footer-description{
    color: #908b8bda;
    margin:20px 0px;
}
.footer ul li{
    list-style:none;
    margin-left: 30px;
    color: #b1b3c48e;
    
}
.footer li a{
    text-decoration: none;
    color: #69666697;
}
.footer li a:hover{
    color: black;
}

